<h1>Potepan Shareでまだ体験したことのない旅をしよう</h1>

<%= search_form_for @q, url: search_rooms_path do |f| %>
  <%= f.search_field :adress_cont, placeholder: 'エリア名を入力' %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<h1>おすすめエリア</h1>
<div class="container">
  <div class="row">
    <div class="card col-3">
      <%= link_to image_tag("tokyo_image.jpeg", class: "card-img"), search_rooms_path(q: {adress_cont: "東京"}) %>
      <span class="text-black">東京</span>
    </div>

    <div class="card col-3">
      <%= link_to image_tag("osaka_image.jpeg", class: "card-img"), search_rooms_path(q: {adress_cont: "大阪"}) %>
      <span class="text-black">大阪</span>
    </div>

    <div class="card col-3">
      <%= link_to image_tag("kyoto_image.jpeg", class: "card-img"), search_rooms_path(q: {adress_cont: "京都"}) %>
      <span class="text-black">京都</span>
    </div>

    <div class="card col-3">
      <%= link_to image_tag("sapporo_image.jpeg", class: "card-img"), search_rooms_path(q: {adress_cont: "札幌"}) %>
      <span class="text-black">札幌</span>
    </div>
  </div>
</div>
