<h2>予約内容の確認</h2>
<p>チエックイン</p>
<p><%= l @reservation.check_in %></p>
<p>チェックアウト</p>
<p><%= l @reservation.check_out %></p>
<p>日数</p>
<p><%= (@reservation.check_out - @reservation.check_in).to_i %>日</p>
<p>人数</p>
<p><%= @reservation.count_person %>人</p>
<p>お支払い金額</p>
<p><%= number_to_currency(@reservation.total_cost, unit: "¥", format: "%u %n" ) %></p>
<p>上記内容で正しければ「確定」ボタンを押してください。</p>

<% if request.post? %>
  <%= form_with(model: @reservation, method: :post, url: reservations_path) do |f| %>

    <%= render "reservations/shared/reservation_info", obj: f %>
  
  <% end %>
<% elsif request.patch? %>
  <%= form_with(model: @reservation, method: :patch, url: reservation_path(@reservation)) do |f| %>

    <%= render "reservations/shared/reservation_info", obj: f %>
  
  <% end %>
<% end %>
