<%= image_tag @reservation.room.image.variant(resize: "120x69").processed %>
<p><%= @reservation.room.name %></p>
<p><%= @reservation.room.adress %></p>
<p><%= @reservation.room.price %></p>
<p><%= @reservation.room.detail %></p>

<%= form_with(model: @reservation) do |f| %>
  <%= f.hidden_field :check_in, value: @reservation.check_in %>
  <%= f.hidden_field :check_out, value: @reservation.check_out %>
  <%= f.hidden_field :count_person, value: @reservation.count_person %>
  <%= f.hidden_field :room_id, value: @reservation.room_id %>

  <div class="field">
    <%= f.label :check_in %><br />
    <%= f.date_field :check_in, autofocus: true, autocomplete: "check_in" %>
  </div>

  <div class="field">
    <%= f.label :check_out %><br />
    <%= f.date_field :check_out, autofocus: true, autocomplete: "check_out" %>
  </div>

  <div class="field">
    <%= f.label :count_person %>
    <%= f.number_field :count_person, min: 0, autocomplete: "count_person" %>
  </div>

  <div class="actions">
    <%= f.submit "再予約" %>
  </div>

  <div>
    <%= link_to "キャンセル", reservations_path %>
  </div>
<% end %>