<!DOCTYPE html>
<html>
  <head>
    <title>AccommondationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><%= link_to "Potepan Share", root_path %><br /></p>

    <% if user_signed_in? %>
      <%= image_tag current_user.avatar.variant(resize: "40x40").processed %>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user.name %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><p class="dropdown-item"><%= link_to "施設の新規登録", new_room_path %></p></li>
          <li><p class="dropdown-item"><%= link_to "予約済み一覧", reservations_path %></p></li>
          <li><p class="dropdown-item"><%= link_to "登録済み一覧", rooms_own_path %></p></li>
          <li><p class="dropdown-item"><%= link_to "アカウント設定", users_account_path %></p></li>
          <li><p class="dropdown-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p></li>
        </ul>
      </div>
    <% else %>
      <p><%= link_to "ログイン", new_user_session_path %><br /></p>
      <p><%= link_to "新規登録", new_user_registration_path %><br /></p>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
