<!DOCTYPE html>
<html>
  <head>
    <title>AccommondationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <h1 class="navbar-brand"><%= link_to "Potepan Share", root_path %></h1> 
        <div class="d-flex">
          <% if user_signed_in? %>
            <div class="dropdown">
              <%= image_tag current_user.avatar.variant(resize: "40x40").processed %>
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.name %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><p class="dropdown-item"><%= link_to "施設の新規登録", new_room_path %></p></li>
                <li><p class="dropdown-item"><%= link_to "予約済み一覧", reservations_path %></p></li>
                <li><p class="dropdown-item"><%= link_to "登録済み一覧", rooms_own_path %></p></li>
                <li><p class="dropdown-item"><%= link_to "アカウント設定", users_account_path %></p></li>
                <li><p class="dropdown-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p></li>
              </ul>
            </div>
          <% else %>
            <li class="nav-item .text-light"><%= link_to "ログイン", new_user_session_path %></li>
            <li class="nav-item .text-light"><%= link_to "新規登録", new_user_registration_path %></li>
          <% end %>
      </div>
    </nav>

    </div>
    <% if flash[:notice] %>
      <p class="notice alert alert-success"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
